/* ---------- HERO SECTION ---------- */
.hero-section {
    height: 70vh;
    max-height: 960px;

    background-image: url('../../images/background-image.jpg');
    background-size: cover;
    background-position-y: top;
    background-position-x: 50%;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text {
    text-align: center;
    margin-bottom: 25px;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 12px;
}

.hero-text h3 {
    color: var(--white);
    font-weight: 400;
}

/* ---------- end hero section */

/* ---------- ABOUT SECTION --------- */
/* ---------- end about section */

/* ---------- RECIPES SECTION --------- */
/* ---------- end recipes section */

/* ---------- COURSES SECTION --------- */
.courses-section {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-container {
    max-width: 1200px;
    margin: 30px 0; 
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
}

/* ---------- end courses section */

/* ---------- TESTIMONIALS SECTION --------- */
.testimonials-section {
    margin: 15px 0;
    padding: 70px 0;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
}

.testimonials-container {
    max-width: 960px;
}
/* ---------- end testimonials section */

/* ---------- CONTACTS SECTION ---------- */
.contacts-section {
    width: 100%;
    max-width: 960px;
    margin: auto auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
}

.contacts-section h1 {
    color: var(--yellow);
    font-size: 20px 0;
    margin-bottom: 10px;
}
/* ---------- end contacts section */


/* ---------- RESPONSIVENESS ---------- */
/* hero section */
@media only screen and (min-width: 351px) {
    /* hero section */
    .hero-content h1 {transform: scale(1.2);}
}

@media only screen and (min-width: 501px) {
    /* courses section */
    .courses-container {grid-template-columns: calc(50% - 15px) calc(50% - 15px);}
}
@media only screen and (min-width: 751px) {
    /* courses section */
    .courses-container {grid-template-columns: calc(33% - 10px) calc(33% - 10px) calc(33% - 10px);}
}
@media only screen and (min-width: 801px) {
    /* hero section */
    .hero-content {transform: scale(1.5);}
}

@media only screen and (min-width: 1001px) {
    /* courses section */
    .courses-container {grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);}
}
